results/
sample_five_1.fastq.gz
sample_five_2.fastq.gz
sample_four_1.fastq.gz
sample_four_2.fastq.gz
sample_one_1.fastq.gz
sample_one_2.fastq.gz
sample_six_1.fastq.gz
sample_six_2.fastq.gz
sample_three_1.fastq.gz
sample_three_2.fastq.gz
sample_two_1.fastq.gz
sample_two_2.fastq.gz
